#container {
    margin-top: 20px;
    display: inline-grid;
    width: auto;
    height: auto;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .gridsquare {
    display: inline;
    background-color: black;
    opacity: 0;
    min-height: 1px;
    max-height: 5px;
    
}

body {
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

h1 {
    color: black;
    margin-top: 10px;
}

  /*Header*/
.header ul {
	list-style-type: none;
	float: right;
	margin-top: 10px;
}

li {
    display:inline;
    padding:8px;
    
}
.header input {
	background-color: #4285f4;
	color: #fff;
	height: 30px;
	border-radius: 2px;
	font-weight: bold;
	padding: 0 16px;
}

h1, footer{
    text-align: center;
}

/*
#container{
    display: grid;
  width: 67%;
  height: 67%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.col{
    flex: 1;
    align-items: center;
    justify-content: center;
}


#grid {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    line-height:30px;
}

.gridsquare {
    background-color: black;
    opacity: 0;
  }
*/