#container {
    margin-top: 20px;
    display: inline-grid;
    width: auto;
    height: auto;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
  }

  .gridsquare {
    display: block;
    background-color: black;
    opacity: 0;
    width: 20px;
    height: 20px;
    float: left;
    
}

body {
    font-family: 'Rammetto One', cursive;
    text-align: center;
}

h1 {
    color: black;
    margin-top: 10px;
}

  /*Header*/
.header ul {
	list-style-type: none;
	float: right;
	margin-top: 10px;
}

li {
    display:inline;
    padding:8px;
    
}
.header input {
	background-color: #4285f4;
	color: #fff;
	height: 30px;
	border-radius: 2px;
	font-weight: bold;
	padding: 0 16px;
}

h1, footer{
    text-align: center;
}

